# --- Global ---
*.log
.DS_Store
*.env
*.env.local
# Ignore JetBrains IDE files
.idea/

# --- Python Backend ---
__pycache__/
*.py[cod]
*.pyo
*.h5
*.pkl
*.db
.keras
env/
venv/
backend/static/uploads/
backend/model_files/
# --- Node.js Frontend ---
node_modules/
.next/
out/
frontend/.env.local
frontend/.next/
